.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
    margin-bottom: 24px;
}

h2 {
    font-family: sans-serif;
}

.buttons > button {
    background-color: pink;
    height: 48px;
    width: 120px;
    border: 2px solid palevioletred;
    border-radius: 10px;
}